html
{ height: 100%;}

*
{ margin: 0;
  padding: 0;}

body
{ font: normal .80em 'trebuchet ms', arial, sans-serif;
  background: #F7F7F7 url(../images/pattern.png) fixed;
  color: #555;}

p
{ padding: 0 0 20px 0;
  line-height: 1.5em;
  font-size: 107%;}

img
{ border: 0;}

h1, h2, h3, h4, h5, h6 
{ font: normal 250% 'Yanone Kaffeesatz', arial, sans-serif;
  color: #444;
  margin: 0 0 15px 0;
  padding: 5px 0 5px 0;}

h2
{ font: normal 170% 'Yanone Kaffeesatz', arial, sans-serif;
  color: #F14E23;  
  margin: 0;
  padding: 0 0 8px 0;}

h3
{ font-size: 200%;
  margin: 0 0 9px 0;
  color: #444;}

h4, h5, h6
{ margin: 0;
  padding: 0 0 5px 0;
  font: normal 100% arial, sans-serif;
  color: #F14E23;
  line-height: 1em;}

h5, h6
{ font: italic 95% arial, sans-serif;
  color: #888;
  padding-bottom: 15px;}

h6
{ color: #362C20;}

a, a:hover
{ outline: none;
  text-decoration: none;
  color: #35BDF5;}

a:hover
{ text-decoration: underline;}

.left
{ float: left;
  width: auto;
  margin-right: 10px;}

.right
{ float: right; 
  width: auto;
  margin-left: 10px;}

.center
{ display: block;
  text-align: center;
  margin: 20px auto;}

ul
{ margin: 2px 0 22px 17px;}

ul li
{ list-style-type: circle;
  margin: 0 0 0 0; 
  padding: 0 0 4px 5px;}

ol
{ margin: 8px 0 22px 20px;}

ol li
{ margin: 0 0 11px 0;}

#main, #header, #logo, #menubar, #site_content, #site_content_login, #footer
{ margin-left: auto; 
  margin-right: auto;}

#main
{ width: 950px;
  margin: 20px auto;}

#header
{ width: 952px;
  height: 145px;}

#logo
{ width: 950px;
  float: left;
  height: 100px;
  background: transparent;
  /*padding: 0 0 0px 10px;*/
  margin-bottom: 38px;
  }

#logo h1
{ font: normal 350% 'Yanone Kaffeesatz', arial, sans-serif;
  padding: 5px 0 0 17px;
  color: #555;
  float: left;}

#logo h1 a
{ color: #35BDF5;
  text-decoration: none;}

#logo h1 a:hover
{ color: #555;
  text-decoration: none;}

.slogan
{ float: right; 
  padding-right: 25px;
  text-align: right; 
  font: 500% 'tangerine', arial; 
  color: #111;}

#menubar
{ height: 46px;
  width: 700px;
  margin: 0px auto -1px auto;
  float: right;
  padding: 0px 0 0 0;} 

ul#menu
{ float: right;}

ul#menu li
{ float: left;
  padding: 0 0 0px 0px;
  list-style: none;
  margin: 2px 0 0 0;
  background: transparent;}

ul#menu li a
{ font: normal 170% 'Yanone Kaffeesatz', sans-serif;
  text-decoration: none;
  color: #444;
  display: block; 
  float: left; 
  /*height: 20px;*/
  height: 42px !important;
  padding: 7px 23px 15px 23px;
  text-align: center;} 

ul#menu li.current a
{ height: 20px;
  padding: 6px 22px 15px 22px;}

ul#menu li.current a
{ background: #fff;
  border: 1px solid #ddd;
  border-bottom: 0;
  color: #F14E23;}

ul#menu li a:hover
{ color: #F14E23;}

#site_content
{ width: 950px;
  overflow: hidden;
  margin: 0 auto 0 auto;
  padding: 0;
  background: #fff;
  border: 1px solid #E7E7E7;} 

#sidebar_container
{ float: right;
  width: 250px;
  margin: 25px 0;}

.adjunto_mostrado_tramite{
  font-size: 20px  
}

.sidebar
{ float: right;
  width: 265px;
  margin: 0 24px 27px 0;
  background: #FBFBFB;
  border: 1px solid #eee;
  padding: 0 15px 15px 15px;}

.sidebar h3, .content h1
{ padding: 10px 15px;
  margin: 0 1px;}

.sidebar h1
{ padding: 5px 0 0 0;}

.paperclip
{ float: left;
  position: relative; 
  z-index: 0;
  vertical-align: middle; 
  margin: -27px 0 -60px -30px;}

#content
{ text-align: left;
  width: 630px;
  padding: 30px 0 5px 25px;
  margin: 0;}

#content ul
{ margin: 2px 0 22px 0px;}

#content ul li
{ /*list-style-type: none;
  background: url(../images/bullet.png) no-repeat;
  margin: 0 0 6px 0; 
  padding: 0 0 4px 25px;
  line-height: 1.5em;*/}

#footer
{ clear: both;
  width: 100%;
  font: normal 150% 'yanone kaffeesatz',  arial, sans-serif;
  height: 85px;
  padding: 20px 0 5px 0;
  text-align: center; 
  color: #555;
  background: transparent;
  /*margin-bottom: 20px;*/
/*
position: absolute;
bottom: 0px;
width: 560px;
left: 34%;*/
}

#footer p
{ padding: 0 0 10px 0;}

#footer a, #footer a:hover
{ color: #555;
  text-decoration: none;}

#footer a:hover
{ color: #35BDF5;
  text-decoration: none;}

.gallery img
{ position:absolute;}

.form_settings
{ margin: 5px 0 0 0;}

.form_settings p
{ padding: 0 0 10px 0;}

.form_settings span
{ padding: 5px 0; 
  float: left; 
  width: 170px; 
  text-align: left;}
  
.form_settings input, .form_settings textarea
{ 
  width: 252px; 
  font: 100% 'trebuchet ms', arial;
  border: 0;
  border: 1px solid #eee;
  padding: 5px 10px;
  background: #fff;
  color: #FFF;}
  
.form_settings .submit
{ border: 0; 
  width: auto;
  margin: 0 0 0 200px; 
  cursor: pointer; 
  color: #35BDF5;
  border: 1px solid #ddd;
  padding: 5px 15px;
  background: #fff;
  font: normal 140% 'Yanone Kaffeesatz', sans-serif;}

.form_settings textarea, .form_settings select
{ font: 100% 'trebuchet ms', arial; 
  border: 1px solid #eee;
  padding: 5px 10px;
  background: #fff;
  width: 252px;
  overflow: auto;}

.form_settings select
{ width: 274px;}

.form_settings .checkbox
{ margin: 4px 0; 
  padding: 0; 
  width: 14px;
  border: 0;
  background: none;}

.formulario_archivo_tramite{
    display: none;
}

.search
{ color: #666;
  border: 1px solid #eee;
  margin: 0;
  padding: 10px 5px;
  width: 189px;
  color: #F14E23;}
  
.subscribe
{ color: #35BDF5;
  border: 1px solid #ddd;
  padding: 5px 10px;
  background: #fff;
  float: right;
  cursor: pointer;
  margin: 0;
  font: normal 140% 'Yanone Kaffeesatz', sans-serif;}
 
table
{ margin: 10px 0 30px 0;}

table tr th, table tr td
{ background: #F5F5F5;
  color: #111;
  padding: 7px 4px;
  text-align: left;}
  
table tr td
{ background: #FBFBFB;
  color: #111;
  border-top: 1px solid #FFF;}

#div_formulario_cliente, #div_formulario_gestion, #div_manejo_tipos_gestiones{
    display:none;
    margin:15px;
}

#div_formulario_tramite, #div_formulario_plantilla{
    display:none;
    margin:15px;
}

#txt_ci_cliente{
    width: 50%;
    margin-right: 25px;
    float: left;
}

#div_formulario_subir_ci{
    display:none;    
    padding: 10px;
    margin: 10px;
    border: 2px solid #555;
}

.clear{
    clear: both;
}

.datepicker{
    width: 100px;
    margin-right: 50px
}

.fecha{
    float:left;
}

#btn_agregar_cliente #retorno_borrado_cliente{
    float:left;
}

#combo_estado_tramite{
    width: 150px;
}

#combo_tipo_tramite{
    width: 250px;
}

#div_ci_cliente{
    float:right;
    margin-right: 14px;
    margin-top: -119px;
    display: none;
}

#iframe_ci_cliente{
    width: 300px;
    height: 200px;
}

#iframe_adjunto_tramite{
    width: 773px;
    height: 800px;
}

#btn_guardar_tramite{
    float:right;
    margin-top: 20px;
    display: none;
}

.float-left{
    float:left;
}

.float-right{
    float:right;
}

.input_plantilla{
    width: 200px;
}

.btn_ver_adjunto, .btn_eliminar_adjunto, .btn_ver_tramite, .btn_eliminar_tramite, .btn_ver_cliente, .btn_eliminar_cliente, .adjunto_cliente,
.btn_ver_adjunto_de_un_cliente, .btn_eliminar_adjunto_de_un_cliente, .btn, .fa{
    cursor:pointer;
}

.btn_sumar_quitar_cliente, .btn_sumar_quitar_participante{
    margin-top:7px;
}

.select_sumar_quitar_cliente, .select_sumar_quitar_participante{
    height:120px !important;
    width: 239px !important;
}

#guardar_plantilla_modificada{
    position: aboslute;
    bottom:5px;
}

#cabecera{
    border: 2px solid #555;
    padding: 15px;
    height: 97px;
}

#div_formulario_adjuntos_cliente{
    display: none;    
}

#div_form_agregar_adjunto_persona{
    margin: 10px;
    border: 3px solid #777;
    padding: 20px;
}

#formulario_agregar_participante, #formulario_agregar_tipo_gestion{
    border: 2px solid #888;
    padding: 10px;
    margin:10px;
    display:none;
}

#site_content_login{
	text-align:center;
	 width: 450px;
  overflow: hidden;
  margin: 0 auto 0 auto;
  padding: 0;
  background: #fff;
  border: 1px solid #E7E7E7;  
}

#sidebar_container_login{
    /*margin:auto; 
    width:218px; position: absolute;*/
    top: 39%;
    left: 42%;
    background-color: white;
    padding: 30px;
    border: 3px solid #999;
}

#btn_ver_lista_tipos_gestion_manejo{
    display:none;
}

#combo_lista_personas_personas{
    margin: 20px 0;
}

#div_formulario_usuario{
    display: none;
    margin:20px;
    padding:20px;
    border: 3px solid #777;
}

#txt_campo_busqueda, #btn_buscar_inicio{
    margin:18px;
}

#div_fecha_busqeuda{
    margin-top:25px;
    display: none;
}

#cabecera_linea2{
    position: absolute;
    margin-top: 45px;
    width: 606px;
    display:none;
}